@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }

.header {

animation: slideDown 1s ease-in-out;
background-color: #495168;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        nav {
            display: flex;
            justify-content: space-between;
            width: 20%;
            margin-right: 5%;

            a {
                text-decoration: none;
            }
        }

        img {
            height: 80px;
            margin-left: 5%;
        }
}
}