@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }

.header {

animation: slideDown 1s ease-in-out;
background-color: #041c34;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        nav {
            display: flex;
            justify-content: space-between;
            width: 24%;
            margin-right: 5%;

            a {
                position: relative;
                color: var(--white);
                cursor: pointer;
                outline: none;
                text-decoration: none;
                font-family: var(--font-family);
                font-weight: bold;
                font-size: 1.1875rem;
            }
            a:hover {
                color: var(--blue-1);
            }
            a::before {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: var(--color-secundary);
                visibility: hidden;
                transition: all 0.3s ease-in-out;
              }
              a:hover::before {
                visibility: visible;
                width: 100%;
              }
        }

        img {
            height: 170px;
            margin-left: 5%;
        }
}
}